@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
}
.base-image {
  @apply w-[310px] md:w-[272px] lg:w-[398px] h-[141px] lg:h-[170px] md:h-[116px] shadow-lg rounded-tl-[50px] rounded-br-[50px];
}
.year-box {
  @apply h-[95px] w-[155px] rounded-lg text-4xl font-semibold text-center text-white  shadow-gray-800;
}
.hero-btn {
  @apply border-black bg-black text-white rounded-3xl px-7 py-2 hover:bg-violet-700 transition-colors duration-150 ease-in-out;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
