@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");
}
.base-image-1 {
  @apply w-[330px] md:w-[272px] lg:w-[398px] h-[141px] lg:h-[249px] md:h-[116px] shadow-lg;
}
.base-image {
  @apply w-[330px] md:w-[272px] lg:w-[398px] h-[141px] lg:h-[249px] md:h-[116px] shadow-lg;
}
.year-box {
  @apply h-[95px] w-[155px] rounded-lg text-6xl font-Manrope font-medium text-center text-white  shadow-gray-800;
}
.hero-btn {
  @apply border-black bg-black text-white rounded-3xl px-7 py-2 hover:bg-violet-700 transition-colors duration-150 ease-in-out;
}
.navbar-backdrop-blur {
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scroll 25s linear infinite;
}

.marquee__group2 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scroll2 25s linear infinite reverse;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animation-pulse {
  animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes scroll {
  from {
    transform: translateX(calc(-50%));
  }
  to {
    transform: translateX(calc(-150% - 2rem));
  }
}

@keyframes scroll2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

/* Mobile Devices (up to 767px) */
@media screen and (max-width: 767px) {
  .marquee1 {
    display: flex;
    height: 10vh;
    user-select: none;
    gap: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* Tablets (768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .marquee1 {
    display: flex;
    height: 10vh;
    user-select: none;
    gap: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: rotate(-4deg) translateY(-10%) translateX(50%);
  }
}

/* Desktops and Laptops (1024px and above) */
@media screen and (min-width: 1024px) {
  .marquee1 {
    display: flex;
    height: 10vh;
    user-select: none;
    gap: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: rotate(-7deg) translateY(-130%) translateX(50px);
  }
  .marquee2 {
    display: flex;
    height: 10vh;
    user-select: none;
    gap: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    transform: rotate(-7deg) translateY(-50%) translateX(60px);
  }
}

.tab-content-header {
  @apply text-[32px] font-bold text-gray-900;
}
